/*
 * Remove template code below
 */

html {
  font-family: Helvetica;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.row {
  display: flex;
  flex: 0, 0, auto;
}

.col {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
}

.bold {
  font-weight: 700;
}

.won {
  background: #a0a0a0;
  color: white;
}

.p-1 {
  padding: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.ptb-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.plr-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;

  &:hover {
    background: #f3e9ff;
  }
}

.value {
  // background: #c2b8d0;
  // color: white;
  width: 24px;

  &:nth-of-type(5) {
    margin-right: 1.5rem;
  }
}

.history-item {
  padding: 0.5rem;
  border: 1px solid #bcbcbc;
  margin-bottom: 0.5rem;
}

.nav-bar {
  min-width: 350px;
  display: flex;
  flex: 0 0 40%;
}

.dashboard {
  min-width: 350px;
  display: flex;
  flex: 0 0 60%;
}
